body {
    background-color: #a9d7d1;
}
h1 {
    text-align: center; 
    font-family: sans-serif; 
    font-weight: normal;
}
div {
    background-color: snow; 
    border-radius: 15px 15px 0px 0px;
    margin: 20px;
}
h4 {
    text-align: center; 
    font-family: sans-serif;
    padding-top: 30px;
}
div#cue.column.left {
    text-align: right;
}
div#input.column.right {
    text-align: left;
    margin-left: 20px;
}
form {
    padding-left:70px;
    font-family: sans-serif;
}
input {
    color: grey; 
}

table {
    font-family: arial, sans-serif;
    width: 65%;
  }
  
  td {
    border: 1px solid #dddddd00;
    text-align: right;
    padding: 8px;
    vertical-align: top;
  }
  td#column {
    text-align: left;
  }
